* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: #a9aaac;
    color: #fff;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color: #e47911;
}

.prod, .discover {
    position: relative;
}

.ul-first, .ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-first, .ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #24252a;
}

.ul-first > li:hover {
    background-color: #e47911;
}

.ul-second > li:hover {
    background-color: #e47911;
}

.prod:hover > .ul-first {
    display: block;
}

.discover:hover > .ul-second {
    display: block;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}